body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.status-token {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dc3545;
}
.status-token.active {
    background-color: #28a745;
}
